body{
    /* background-color: #f65be3ff; */
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

html{
  font-family: 'Nunito', sans-serif;
}

a{
    text-decoration: overline;
    color:brown;
}
.title{
    text-transform: uppercase;
}
.paragraph{
    line-height: 1.8em;
    font-weight: 200;
}