*{
    box-sizing:boder-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
        
}

h1{
    text-align: center;
    color: blue;
}

h2{
    text-align: center;
    color:blue;
}

.test1{
    display: flex;
    justify-content: center;
}

textarea{
    font-size: 1.6rem;
}