*{
    box-sizing:boder-box;
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
}

html{
    font-size: 62.5%;

}

body{
    
    font-size: 2rem;

}
.uno{
    /* @extend .green, lighten-3; */
    background-color: #e8f5e9;
    /* background-color: white; */
}

h1{
    
    text-align: center;
    color: blue;
    @extend .green-text, darken-4;
    
}

h2{
    text-align: center;
    color: blue;
    @extend .green-text;
}

.test1{
    display: flex;
    justify-content: center;
    
    
}

.test1 textarea{
    font-size: 1.6rem;
    width: 50vw;
    height: 10rem;
}

h1:hover{
    color: black;
}
h2:hover{
    color: black;
}

div p:nth-child(3){
    color:blue;    
}

 p::first-letter{
    color: red;
}
*/

 p::after{
    content:"emoji";
 }